body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  gap: 10px;
  margin-top: 300px;
  border: 2px solid white;

}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

input {
  transition: border-color 0.2s ease-in-out;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  color: black;
  border: 2px solid #fff;
  padding: 10px 25px;
  background-color: rgb(219, 219, 219);;
  max-width: 190px;
}


input:focus {
  border-color: #007bff;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
  box-shadow: 2px 2px 6px #007bff inset;
}

button {
  display: inline-block;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

button::before,
button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

button::before {
  left: -10px;
  background: #8400ff;
}

button::after {
  right: -10px;
  background: #00b7ff;
}

button:hover::before,
button:hover::after {
  width: 58%;
}

button:hover span {
  color: #0400ff;
  transition: 0.3s;
}

button span {
  color: #1100ff;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
Footer